<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1>All Users Are here</h1>
    <ul>
        <%= @user.each_with_index do |user,index| %>
            <ol>The user position => #<strong><%= index %></strong>
                <li>The User email => <strong><%= user.email%></strong></li>
                <li><a href="<%= user_path(@user)%>" <input type="button">Redirect me</input></a></li>

                <!-- FORM FOR DELETETING USERS THAT ARE CREATED -->

                <form action= "<%= user_url(@user) %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">

                <input type="button" value="DESTROY">
                </form>
            </ol>
        <%end%>
    </ul>

    <a href="<%= new_user_url %>" <input type="submit" >create new user </input>
</body>
</html>